TAVILY_API_KEY=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
DEEPSEEK_API_KEY=sk-24353ba8888c4cd7baf20a3d01dfa6db
DEERFLOW_BASE_URL=https://api.deepseek.com
DEERFLOW_API_KEY=your_deerflow_api_key
DEERFLOW_SKILL_NAME=industry-report-skill
PREFER_DEERFLOW=true
